@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import './colors';

.main {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', 'sans-serif';
}

.content-pages {
    padding: 15px;
}

.title_pages p{
    font-size: 25px;
}
